<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- NFC Permissions -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Storage Permissions for CSV import -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />

    <!-- Vibration Permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".FollowMeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fm"
        android:supportsRtl="true"
        android:theme="@style/Theme.FollowMe"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <!-- Main Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- NFC Intent Filters -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/json" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.nfc.action.TECH_DISCOVERED"
            android:resource="@xml/nfc_tech_filter" />
        
        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        
        <!-- Tag Management Activity (Admin Only) -->
        <activity
            android:name=".ui.tags.TagManagementActivity"
            android:exported="false"
            android:label="@string/tag_management"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        
        <!-- Help Activity -->
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false"
            android:label="@string/help"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        
        <!-- Account Activity -->
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false"
            android:label="@string/account"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        
        <!-- File Provider for CSV import -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
